<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Update Item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="updatedItem.name" name="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input [(ngModel)]="updatedItem.price" name="price" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-input [(ngModel)]="updatedItem.category" name="category" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="updatedItem.description" name="description" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image URL</ion-label>
      <ion-input [(ngModel)]="updatedItem.img" name="img" type="url" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" (click)="updateItem()">Update</ion-button>
</ion-content>
