<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!loading">
  <div class="profile-container">
    <div class="profile-picture">
      <ion-fab vertical="top" horizontal="center" class="icon">
        <ion-fab-button (click)="takePicture()">
          <ion-icon color="white" name="create-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-avatar>
        <img [src]="selectedImage ? selectedImage.webPath : 'assets/images/user.png'" />
      </ion-avatar>
    </div>
    <div class="profile-details">
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.fullName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="user.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-input type="tel" [(ngModel)]="user.mobileNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>

<!-- **************** ion-skeleton ********************** -->

<ion-content class="ion-padding" *ngIf="loading">
  <div class="profile-container">
    <div class="profile-picture">
      <ion-fab vertical="top" horizontal="center" class="icon">
        <ion-fab-button (click)="takePicture()">
          <ion-icon color="white" name="create-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-avatar>
        <img [src]="selectedImage ? selectedImage.webPath : 'assets/images/user.png'" />
      </ion-avatar>
    </div>
    <div class="profile-details">
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-skeleton-text [animated]="true" style="width: 35%; margin-top:8%; height: 25%;"></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-skeleton-text [animated]="true" style="width: 40%; margin-top:8%; height: 25%;"></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile Number</ion-label>
        <ion-skeleton-text [animated]="true" style="width: 50%; margin-top:8%; height: 25%;"></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-skeleton-text [animated]="true" style="width: 60%; margin-top:8%; height: 25%;"></ion-skeleton-text>
      </ion-item>
    </div>
  </div>
</ion-content>


