<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle slot="start">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
        </ion-button>    
      </ion-menu-toggle>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- you can remove this upper header text  -->

  <ion-content class="ion-padding">
    <!-- write the menu content here -->
    <ion-card class="menu-profile-card">
      <ion-card-header>
        <ion-card-title>{{loggedInUser?.fullName}}</ion-card-title>
        <ion-card-subtitle>{{loggedInUser?.mobileNumber}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-list class="menu-options-list">
      <ion-item class="menu-option-item">
        <ion-icon slot="start" name="card-outline"></ion-icon>
        <ion-label>Payment</ion-label>
      </ion-item>
      <ion-item class="menu-option-item">
        <ion-icon slot="start" name="basket-outline"></ion-icon>
        <ion-label>My Orders</ion-label>
      </ion-item>
      <ion-item class="menu-option-item">
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
        <ion-label>Transactions</ion-label>
      </ion-item>
      <ion-item class="menu-option-item">
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-label>Order History</ion-label>
      </ion-item>
      <ion-item class="menu-option-item">
        <ion-icon slot="start" name="pricetag-outline"></ion-icon>
        <ion-label>My Coupons</ion-label>
      </ion-item>
      <ion-item class="menu-option-item">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>Notification Settings</ion-label>
      </ion-item>
      <ion-item class="menu-option-item">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        <ion-label>Help</ion-label>
      </ion-item>
      <ion-item  class="menu-option-item" (click)="presentAlertConfirm()"  size="small">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-list lines="none">
        <ion-buttons slot="start" >
          <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
      <ion-item color="primary">
        <ion-label style="font-size: xx-large;">Plant Shop</ion-label>
        <ion-avatar slot="end">
          <img
            src="https://images.unsplash.com/photo-1589185810360-8ea760bb9836?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
        </ion-avatar>
      </ion-item>
    </ion-list>
    <div class="popover">
      <ion-searchbar [(ngModel)]="searchQuery"  (click)="showKeyboard()"></ion-searchbar>
    </div>
  </ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-item lines="none" color="light">
      <ion-label class="title">Plants-Available</ion-label>
  </ion-item>
    <!-- sort the item -->
    <ion-button (click)="presentActionSheet()" color="secondary" size="small">
      <ion-icon slot="start" name="funnel-outline"></ion-icon>
       <ion-text>Sort by Price</ion-text>
    </ion-button>
   
    <ion-item>
      <ion-select label="Filter By Category" placeholder="Category" [(ngModel)]="selectedCategory" >
        <ion-select-option value="India">India</ion-select-option>
        <ion-select-option value="China">China</ion-select-option>
        <ion-select-option value="Japan">Japan</ion-select-option>
        <ion-select-option value="all">All</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row *ngIf="popularItems.length > 0">
      <ion-col size="6" *ngFor="let item of popularItems">
        <ion-card>
          <ion-img [src]="item.img" style="height: 200px;" routerLink="/tabs/item/{{item.id}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
            <ion-card-subtitle>{{ item.category }} &nbsp; &nbsp;  ₹{{ item.price }}</ion-card-subtitle><br>
            <ion-text>{{item.description}}</ion-text>
              
            <div class="icon-group">
              <ion-icon name="create-outline" color="primary" class="large-icon" routerLink="/tabs/update/{{item.id}}"></ion-icon>
              <ion-icon name="trash-outline" color="danger" class="large-icon" (click)="deleteItem(item.id)"></ion-icon>
            </div>
          </ion-card-header>
         
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-spinner *ngIf="loading" name="crescent" color="black" class="com"></ion-spinner>

    <ion-note *ngIf="!loading && popularItems.length === 0" class="no-item">
      No items available.
    </ion-note>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" *ngIf="!loading">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-grid>
</ion-content>
</div>
