ion-header {
    background: var(--ion-color-light);

    ion-list {
        background: var(--ion-color-primary);
        border-radius: 0 0 20px 20px;
        padding-bottom: 7vh;

        ion-item {
            ion-label {
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
            }

            ion-avatar {
                background: white;
            }
        }
    }

    .popover {
        margin: 0 8 px;

        ion-searchbar {
            --border-radius: 20px;
            margin-top: -30px;
        }
    }
}

ion-content {
    --backgroud: var(--ion-color-light);

    .title {
        font-weight: bold;
        font-size: 1.2rem;
        color: var(--ion-color-dark);
    }

}

.com {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 45%;
    height: 50vh;

}

.no-item {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50%;
    font-size: 1rem;
    font-weight: 200;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.custom-animation {
    --duration: 2s; /* Set the duration here */
  }
  
  /* Apply the animation duration to the skeleton text */
  .custom-animation::part(animation) {
    animation-duration: var(--duration);
  }