<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" class="back-button" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isUpdateMode ? 'Update Item' : 'Add New Item' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="newItem.name" name="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input [(ngModel)]="newItem.price" name="price" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-input [(ngModel)]="newItem.category" name="category" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="newItem.description" name="description" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image URL</ion-label>
      <ion-input [(ngModel)]="newItem.img" name="img" type="url" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="addItemOrUpdate()">
    {{ isUpdateMode ? 'Update' : 'Add' }} Item
  </ion-button>

  <!-- Button to cancel and go back -->
  <ion-button expand="block" color="danger" (click)="goBack()">Cancel</ion-button>
</ion-content>
