<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="rose"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="wishlist">
      <ion-icon name="heart"></ion-icon>
      Wishlist
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      Account
    </ion-tab-button>
    <ion-tab-button tab="adding-item">
      <ion-icon name="add-circle"></ion-icon>
      Add Plant
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>