<!-- user-login.page.html -->
<ion-content class="login-content">
  <ion-icon name="arrow-back-circle-outline" size="large" color="tertiary" class="icon" (click)="goBack()"></ion-icon>
  <div class="flex-center" id="bg">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title color="primary"><b>Login</b></ion-card-title>
      </ion-card-header>

      <ion-card-content class="card">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input type="text" formControlName="username" placeholder="Enter your username"></ion-input>
            <!-- <ion-icon slot="end" name="alert-circle-outline" color="danger"></ion-icon> -->
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input [type]= "showPassword? 'text': 'password'" formControlName="password" placeholder="Enter your password"></ion-input>
            <!-- <ion-icon slot="end" name="alert-circle-outline" color="danger"></ion-icon> -->
            <ion-icon [name]="showPassword? 'eye': 'eye-off'" (click)="showPassword = !showPassword" col="1" slot="end"></ion-icon>
          </ion-item>
          

          <ion-button expand="full" color="primary" class="login-button" shape="round" type="submit"  [disabled]="loginForm.invalid" ><b>Log in</b></ion-button>
        </form>

        <ion-button fill="clear" class="register-button" (click)="loginForm.reset()" ><b>Don't have an account?<a routerLink="/user-sign-up"> Sign up</a></b></ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
