.login-content {
    --background: var(--ion-color-dark) url('https://images.unsplash.com/photo-1473081556163-2a17de81fc97?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
  
    .icon{
      margin: 12px 0px 0px 8px;
    }
    


    .login-card {
      max-width: 400px;
      width: 92%;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
  
      .card {
        padding: 20px;

        ion-item {
          margin-bottom: 10px;
        }

       
        .login-button{
          margin-top: 20px;
          font-weight: bold;
        }
  
        .register-button {
          color: black;
          margin-left: -10px;
          
          
          a {
            text-decoration: none;
  
          }
          
        }
      }
    }
  }
  
  ion-card-title{
    text-align: center;
    font-size: xx-large;
  }
