<ion-content [fullscreen]="true" class="custom-content">
  <ion-list class="ion-margin ion-text-center custom-list">
    <ion-list-header class="custom-logo">
      <ion-label>
        <b>Plant Shop</b>
      </ion-label>
    </ion-list-header>
    <ion-button shape="round" [routerLink]="['/user-login']"><b>Login with Username</b></ion-button>
    <ion-button shape="round" [routerLink]="['/user-login']"><b>Login with Google</b></ion-button>
    <ion-text><b>New User? <a routerLink="/user-sign-up"> Sign up</a></b></ion-text>
  </ion-list>
</ion-content>