<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" class="ion-margin" (click)="navCtrl.back()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Item Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item">
    <ion-img [src]="item.img"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
      <ion-card-subtitle>{{ item.category }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Price: {{ item.price }}</p>
      <p>Description: {{ item.description }}></p>
      <ion-button *ngIf="!isInWishlist" (click)="addToWishlist(item)">
        Add to Wishlist
      </ion-button>
      <ion-button *ngIf="isInWishlist" (click)="removeFromWishlist(item)">
        Remove from Wishlist
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
