ion-content {
    ion-grid {
        padding: 0;
        ion-row {
            height: 70vh;
            ion-col {
                padding: 0;
                height: 100%;
                width: 100%;
                img {
                    margin-top: 35%;
                    width: 90%;
                    height: 65%;
                    background: var(--ion-color-tertiary);
                }
                div {
                    ion-button {
                        margin-top: 5vh;
                        ion-icon {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
    ion-item {
        ion-label {
            font-size: 1.4rem;
            font-weight: bold;
        }
        .price {
            align-self: end;
            margin-top: 15px;
            font-size: 1.2rem;
        }
    }
}

ion-footer {
    .buy {
        background: var(--ion-color-primary);
        border-radius: 0 10px 0 0;
    }
}
